<div *ngIf="targetObj$ | async as target">
  <img *ngIf="!targetIsRoot()" class="upArrow" [src]="upArrow | local" (click)="moveUpTree()">
  <img class="map" [src]="target.path | local" (click)="mapClick($event)" />

  <div *ngIf="newFileForm"
  class="newFileForm">
    <app-new-file-form
    (formValue$)="closeForm($event)">
  </app-new-file-form>
  </div>
  <div *ngIf="showContextMenu">
    <app-contextmenu
      (typeClicked$)="closeContextMenu($event)"
      [x]="contextmenu.x"
      [y]="contextmenu.y"
    ></app-contextmenu>
  </div>
  <div *ngIf="target.children">
    <div *ngFor="let child of target.children">
      <img
        [ngStyle]="child.location"
        [src]="child.iconPath | local"
        class="icon {{ child.type + 'Icon' }}"
        (click)="iconClick(child.type, child.index)"
      />
    </div>
  </div>
</div>
