<div *ngIf="targetObj$ | async as target">
  <img class="map" [src]="target.path | local" (click)="mapClick($event)" />
  <div *ngIf="contextmenu">
    <app-contextmenu
      (closeMenu)="closeMenu($event)"
      [x]="contextmenuX"
      [y]="contextmenuY"
    ></app-contextmenu>
  </div>
  <div *ngIf="target.children">
    <div *ngFor="let child of target.children">
      <img
        [ngStyle]="child.location"
        [src]="child.iconPath"
        class="icon {{ child.type + 'Icon' }}"
        (click)="iconClick(child.type, child.index)"
      />
    </div>
  </div>
</div>
